<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<center>
<h3>Group picture, 2020</h3>
<img src="/images/people/CSB-group-2020.jpg"><br><br>
</center>
<hr />
<div id="main" role="main">
  <article class="people">
    <h3>Current members</h3>
    <ul class="rig columns-4">
        {% for member in site.data.members %}
            <li>
                {% if member.avatar %}
                    {% assign avatar = member.avatar %}
                {% else %}
                    {% assign avatar = '/images/people/bio-photo.jpg' %}
                {% endif %}
                
                {% if member.url %}
                <a href="{{ member.url }}" target="_blank">
                    <img src="{{ avatar }}" />
                </a>
                {% else %}
                    <img src="{{ avatar }}" />                
                {% endif %}
                <h3>{{ member.name }}</h3>
                <a class='mem-position'>{{ member.position }}</a>
                {% if member.bio %}
                    <p class='mem-bio'>{{ member.bio }}</p>                
                {% endif %}
            </li>
        {% endfor %}
    </ul>
  </article>
</div><!-- /#index -->
<hr />
<center>
<h3>Previous group pictures</h3>
<a href="/images/people/CSB-2018-09-movie.gif">Group animated picture, September 2018</a><br>
<a href="/images/people/CSB-2018-09-small.png">Group picture, September 2018</a><br>
<a href="/images/people/CSB-2016-05-movie.gif">Group animated picture, May 2016</a><br>
<a href="/images/people/CSB-2016-05-small.png">Group picture, May 2016</a><br>
</center>
<hr />
<div id="main" role="main">
  <article class="people">
    <h3>Past members</h3>
    <!-- {% for category in site.data.alumni %}
        {% if category.members %}
            <h5> {{ category.status }} </h5>
            {% for alumn in category.members %}
                <ul>
                    <li>
                        {% if alumn.url %}
                        <a href="{{ alumn.url }}" target="_blank" class="">
                            <p>{{ alumn.name }} ({{ alumn.current }})</p>
                        </a>
                        {% else %}
                            <p>{{ alumn.name }} ({{ alumn.current }})</p>
                        {% endif %}
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endfor %} -->

    {% for alumn in site.data.alumni %}
    <ul>
        <li>
            {% if alumn.url %}
                <p>
                    <a href="{{ alumn.url }}" target="_blank" class="">{{ alumn.name }} ({{ alumn.current }})</a>
                    {% assign statuses = alumn.status | split:',' %}
                    {% for stat in statuses %}
                        <a class="btn btn-{{ stat }}">{{ stat | split:'-' | join:' ' | capitalize }}</a>
                    {% endfor %}
                </p>
            {% else %}
                <p>
                    {{ alumn.name }} ({{ alumn.current }})
                    {% assign statuses = alumn.status | split:',' %}
                    {% for stat in statuses %}
                        <a class="btn btn-{{ stat }}">{{ stat | split:'-' | join:' ' | capitalize }}</a>
                    {% endfor %}
                </p>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
